# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow performs a Maven Pre-Release
#

name: Maven Pre-Release Local

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# This workflow is part of the release group and will not run concurrently with other workflows in the same group
concurrency:
  group: release

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # The e2e-test job first verifies the release with multiple fusionauth versions
  e2e-test:
    uses: ./.github/workflows/e2e-test-fusionauth-matrix-android-latest.yml

  # This job publishes the pre-release to a local directory
  publish:
    name: Maven Pre-Release

    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Requires the staging_profile_id and e2e-test job
    needs: e2e-test

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Sets up JDK as a prerequisite to run Gradle
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
        uses: actions/checkout@v5

      # Sets up Gradle as a prerequisite to run Maven Pre-Release
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          gradle-home-cache-cleanup: true

      # Performs a Local Maven Pre-Release
      - name: Run Maven Local Pre-Release
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_SIGNING_PASSWORD }}
        run: ./gradlew publishReleasePublicationToMavenLocal
